@import 'fonts.scss';
@import 'variables.scss';
@import 'page.scss';
@import 'pages.scss';
@import 'photogallery.scss';
@import 'production.scss';
@import 'style-new.scss';
@import 'product_card.scss';
@import 'tags.scss';
@import 'style-text.scss';
@import 'menu.scss';

/*Reset
===============*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-family: $ff;
	line-height: 1;
	font-size: 16px;
	color: $bl;
	background-color: $wh;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; }
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.container {
	width: 100%;
	max-width: 1210px;
	padding: 0 20px;
	margin: 0 auto;
	&_full {
		padding: 0;
		max-width: 100%;
	}
}

body {
	&.hidden {
		overflow: hidden;
	}
}


.wrapper {
	overflow: hidden;
	position: relative;
	background-color: $wh;
}


.title-box {
	position: relative;
	margin-bottom: 30px;
	&:before {
		content: "";
		width: 1px;
		height: 78%;
		background-color: $lbrown;
		position: absolute;
		top: 11%;
		left: -79px;
		z-index: 1;
	}
}

.title {
	font-family: $ff;
	font-size: 36px;
	font-weight: 900;
	color: $bl;
	line-height: 1.3;
	text-transform: uppercase;
}

.subtitle {
	font-family: $ff;
	font-size: 24px;
	font-weight: 900;
	color: $lbrown;
	line-height: 1.5;
	&_red {
		color: $red;
	}
}

.description {
	font-family: $ff;
	font-size: 16px;
	font-weight: 400;
	color: $bl;
	line-height: 1.5;
	p {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.btn {
	display: inline-flex;
	transition: all .2s linear;
	span {
		display: inline-block;
		background-color: $lbrown;
		padding: 18px 34px;
		transition: all .2s linear;
		font-family: $ff;
		font-size: 16px;
		font-weight: 400;
		color: $wh;
		line-height: 1.5;
	}
	&__icon {
		padding: 18px 24px;
		background-color: $lbrown;
		opacity: 0.9;
		transition: all .2s linear;
		display: inline-flex;
		align-items: center;
	}
	&_red {
		span {
			background-color: $red;
		}
		.btn__icon {
			background-color: $red;
			opacity: 0.9;
		}
	}
	&_blue {
		span {
			background-color: #7294C7;
			font-size: 12px;
			padding: 12px 24px;
		}
		.btn__icon {
			background-color: #7294C7;
			opacity: 0.9;
			padding: 15px 10px;
		}
	}
	&:hover {
		span {
			opacity: 0.9;
		}
		.btn__icon {
			opacity: 1;
		}
	}
}/*===/btn===*/

.slider-arrows {
	display: flex;
	pointer-events: none;
	&__arrow {
		cursor: pointer;
		background-color: $gray;
		padding: 20.5px 22px;
		pointer-events: auto;
		transition: all .2s linear;
		svg {
			width: 16px;
			height: 16px;
			fill: $bl;
			transition: all .2s linear;
		}
		&:hover {
				background-color: $lbrown;
				svg {
					fill: $wh;
				}
			}
		&_prev {
			//background-color: $lbrown;
			svg {
				//fill: $wh;
				transform: rotate(180deg);
			}
			/*&:hover {
				background-color: $gray;
				svg {
					fill: $lbrown;
				}
				svg {
					transform: rotate(180deg) translateX(5px);
				}
			}*/
		}
		/*&_next {
			&:hover {
				background-color: $lbrown;
				svg {
					fill: $bl;
				}
				svg {
					transform: translateX(5px);
				}
			}
		}*/
	}
	&_big {
		.slider-arrows__arrow {
			&:hover {
				opacity: 0.9;
			}
		}
		.slider-arrows__arrow_prev {
			padding: 32.5px 34.5px;
			background-color: $wh;
			svg {
				fill: $lbrown;
			}
			&:hover {
				svg {
					transform: rotate(180deg) translateX(5px);
				}
			}
		}
		.slider-arrows__arrow_next {
			padding: 32.5px 28px;
			background-color: $lbrown;
			svg {
				width: 80px;
				height: 17px;
				fill: $wh;
				&:nth-child(2) {
					display: none;
				}
			}
			&:hover {
				svg {
					transform: translateX(5px);
				}
			}
		}
	}
}/*===/slider-arrows===*/

.slider-wh {
	position: relative;
	&:before {
		content: "";
		width: 7px;
		height: 100%;
		background-color: $wh;
		position: absolute;
		top: 0;
		left: -2px;
		z-index: 30;
		display: none;
	}
}

/*=======Intro=======*/
.intro {
	display: none;/*fix*/
	position: relative;
	background: url("../images/intro-bg.png") center no-repeat; 
	background-size: cover;
	.slider-arrows {
		width: 100%;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 10;
		.container {
			display: flex;
			justify-content: flex-end;
		}
	}
	.slick-dots {
		max-width: 1170px;
		margin: 0 auto;
		padding-right: 261px;
		padding-bottom: 42px;
		text-align: right;
		display: flex;
		justify-content: flex-end;
		button {
			font-size: 0;
			color: transparent;
			width: 55px;
			height: 1px;
			background-color: $wh;
		}
		li {
			margin-right: 20px;
			&:last-child {
				margin-right: 0;
			}
			&.slick-active {
				button {
					background-color: $lbrown;
				}
			}
		}
	}
	&__item {
		position: relative;
		//min-height: 582px;
		padding: 80px 0 27px;
	}
	/*&__photo {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}*/
	.title {
		font-size: 60px;
		color: $wh;
		max-width: 1000px;
		&-box {
			&:before {
				left: -99px;
			}
		}
	}
	.description {
		color: $wh;
		margin-bottom: 50px;
		max-width: 543px;
	}
}
/*=======/intro=======*/

/*========Product========*/
.product {
	padding: 90px 0 100px;
	position: relative;
	&:after {
		content: "";
		width: 22%;
		height: 100%;
		background: linear-gradient(270deg, #FFFFFF 0%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
		position: absolute;
		right: 0;
		top: 0;
		z-index: 100;
		pointer-events: none;
		@media(min-width: 2600px) {
			width: 30%;
			background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0) 100%);
		}
	}
	.slick-list {
		overflow: visible;
	}
	&__inner {
		display: flex;
	}
	&__info {
		flex: 0 0 450px;
		padding: 2px 30px 0 2px;
		margin: -2px 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: $wh;
		position: relative;
		z-index: 20;
		&:before {
			content: "";
			width: 1000%;
			height: 100%;
			background-color: $wh;
			position: absolute;
			top: 0;
			left: 2px;
			z-index: 1;
			transform: translateX(-100%);
		}
	}
	&__slider {
		width: calc(60% + 230px);
		margin-right: -200px;
		display: flex;
	}
	&__slide {
		width: 310px;
	}
	&__buttons {
		margin-top: 80px;
		display: flex;
		justify-content: space-between;
		.btn {
			margin-right: 35px;
		}
	}
	&-box {
		height: 380px;
		position: relative;
		padding: 50px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		transition: all .3s linear;
		&:before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 3;
			background: linear-gradient(360deg, rgba(43, 50, 60, 0.9) 29.13%, rgba(43, 50, 60, 0) 98.03%);
			opacity: 2;
			transition: all .2s linear;
		}
		&:after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			background: linear-gradient(360deg, rgba(152, 48, 49, 0.9) 29.13%, rgba(152, 48, 49, 0.9) 98.03%);
			opacity: 0;
			transition: all .3s linear;
		}
		&:hover {
			margin-top: -20px;
			height: 400px;
			&:after {
				opacity: 1;
			}
			&:before {
				opacity: 0;
			}
		}
		&__photo {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&__info {
			position: relative;
			z-index: 5;
		}
		&__title {
			font-family: $ff;
			font-size: 16px;
			font-weight: 700;
			color: $wh;
			line-height: 1.5;
			padding-bottom: 20px;
			position: relative;
			&:after {
				content: "";
				width: 55px;
				height: 1px;
				background-color: $lbrown;
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 1;
			}
		}
		&__subtitle {
			font-family: $ff;
			font-size: 16px;
			font-weight: 400;
			color: $wh;
			line-height: 1.5;
			margin-top: 20px;
			min-height: 48px;
		}
	}
}
/*========/product========*/

/*=========Service========*/
.service {
	&__slider {
		margin-top: 50px;
		display: flex;
	}
	&__slide {
		width: calc(33.33333% - 30px);
		height: 100%;
	}
	.slick-list {
		margin-right: -30px;
	}
	.slick-slide {
		margin-right: 30px;
		>div {
			height: 100%;
		}
	}
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.info-box {
		height: 100%;
	}
	.slider-arrows__arrow {
		background-color: $wh;
		&:hover {
			background-color: $lbrown;
		}
	}
}
/*=========/service========*/

/*========Info-box========*/
.info-box {
	background-color: $wh;
	&__photo {
		display: block;
		height: 180px;
		width: 100%;
		position: relative;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&_logo {
			&:after {
				content: "";
				width: 99px;
				height: 109px;
				background: url("../images/icons/logo_bl.svg") center no-repeat;
				position: absolute;
				z-index: 1;
				@include abs-centerXY;
			}
		}
	}
	&__info {
		padding: 40px 50px 50px;
	}
	&__title {
		font-family: $ff;
		font-size: 16px;
		font-weight: 700;
		line-height: 1.5;
		color: $bl;
		padding-bottom: 20px;
		margin-bottom: 20px;
		position: relative;
		display: block;
		transition: all .2s linear;
		&:before {
			content: "";
			width: 55px;
			height: 1px;
			background-color: $lbrown;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1;
		}
		&:hover {
			color: $lbrown;
		}
	}
	&__description {
		font-family: $ff;
		font-size: 12px;
		font-weight: 400;
		color: $bl;
		line-height: 1.5;
		margin-bottom: 20px;
		max-width: 260px;
	}
	&__link {
		display: flex;
		align-items: center;
		transition: all .2s linear;
		span {
			font-family: $ff;
			font-size: 12px;
			font-weight: 400;
			color: $lbrown;
			line-height: 1.5;
			display: inline-block;
			margin-right: 10px;
		}
		svg {
			width: 12px;
			height: 12px;
			fill: $lbrown;
			transition: all .2s linear;
		}
		&:hover {
			span {
				color: $red;
			}
			svg {
				fill: $red;
				transform: translateX(5px);
			}
		}
	}
	&__data {
		margin-top: 10px;
	}
}
/*========/info-box========*/

/*========Info-data========*/
.info-data {
	display: flex;
	align-items: center;
	&__number, &__views {
		img {
			margin-right: 10px;
			vertical-align: middle;
		}
		span {
			font-family: $ff;
			font-size: 12px;
			font-weight: 400;
			color: $bl;
			line-height: 1.3;
			opacity: 0.4;
		}
	}
	&__number {
		margin-right: 30px;
	}
}
/*========/info-data========*/

/*======Info-sidebar=====*/
.info-sidebar {
	&__item {
		padding-bottom: 32px;
		margin-bottom: 32px;
		border-bottom: 1px solid #E8DDD2;
		&:last-child {
			padding-bottom: 0;
			margin-bottom: 0;
			border-bottom: none;
		}
	}
	&__title {
		font-family: $ff;
		font-size: 16px;
		font-weight: 700;
		color: $bl;
		line-height: 1.5;
		max-width: 250px;
		margin-bottom: 10px;
		a {
			color: $bl;
			transition: all .2s linear;
			&:hover {
				color: $lbrown;
			}
		}
		&-main {
			font-size: 24px;
			font-weight: 900;
			padding-bottom: 20px;
			border-bottom: 1px solid $lbrown;
			margin-bottom: 20px;
		}
	}
}
/*======/info-sidebar=====*/

/*======Partner=======*/
.partner {
	padding: 90px 0 100px;
	&__inner {
		display: flex;
	}
	&__info {
		flex: 0 0 400px;
		padding-right: 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.slider-arrows {
		margin-top: 45px;
	}
	&__slider {
		width: calc(100% - 400px);
	}
	.slick-list {
		margin-right: -30px;
		margin-bottom: -30px;
	}
	.slick-slide {
		margin-right: 30px;
		>div {
			margin-bottom: 30px;
		}
	}
	&-box {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 15px;
		height: 100px;
		border: 1px solid rgba(43, 50, 60, 0.2);
		img {
			max-width: 100%;
		}
		&_top {
			img {
				margin-bottom: 12px;
			}
		}
	}
}
/*======/partner=======*/

/*==========Blog=======*/
.blog {
	&__inner {
		margin-top: 50px;
		display: flex;
		flex-wrap: wrap;
		margin-left: -30px;
		>* {
			width: calc(33.33333% - 30px);
			margin-left: 30px;
		}
	}
	&__sidebar {
		padding-left: 20px;
	}
	.info-box {
		&__info {
			padding-bottom: 30px;
		}
	}
	&-page {
		margin-bottom: 50px;
		.info-box {
			background-color: $gray;
		}
		.blog__inner {
			margin-bottom: -30px;
			>* {
				margin-bottom: 30px;
			}
		}
	}
}
/*==========/blog=======*/


/*=======Adaptive======*/
@media(max-width: 1600px) {
	.intro {
		.title {
			&-box {
				&:before {
					left: -79px;
				}
			}
		}
	}
}
@media(max-width: 1380px) {
	.title {
		&-box {
			&:before {
				display: none;
			}
		}
	}
}
@media(max-width: 992px) {
	.product {
		&:after {
			display: none;
		}
		&__slider {
			width: calc(60% + 100px);
			margin-right: -100px;
		}
		.slick-list {
			margin-left: -12px;
		}
		.slick-slide {
			margin-left: 12px;
		}
	}
	.service {
		.slick-list {
			margin-right: -12px;
		}
		.slick-slide {
			margin-right: 12px;
		}
	}
	.info-box {
		&__info {
			padding: 20px;
		}
	}
	.partner {
		.slick-list {
			margin-right: -12px;
			margin-bottom: -12px;
		}
		.slick-slide {
			margin-right: 12px;
			>div {
				margin-bottom: 12px;
			}
		}
	}
}
@media(max-width: 860px) {
	.intro {
		&__item {
			padding: 60px 0 77px;
		}
		.description {
			margin-bottom: 40px;
		}
		.slick-dots {
			padding-left: 15px;
			justify-content: flex-start;
		}
	}
	.service {
		.description {
			max-width: 320px;
			margin-right: 20px;
		}
		.slick-list {
			padding-right: 20px;
			margin-right: -20px;
		}
	}
	.blog {
		&__inner {
			margin-left: -12px;
			>* {
				width: calc(50% - 12px);
				margin-left: 12px;
			}
		}
		&__sidebar {
			width: 100%;
			padding-left: 0;
			margin-top: 40px;
		}
		&-page {
			.blog__inner {
				margin-bottom: -12px;
				>* {
					margin-bottom: 12px;
				}
			}
		}
	}
	.info-sidebar {
		&__item {
			padding-bottom: 20px;
			margin-bottom: 20px;
		}
	}
}
@media(max-width: 860px) and (min-width: 480px) {
	.info-sidebar {
		&__item {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			padding-bottom: 20px;
			margin-bottom: 20px;
		}
		&__title {
			max-width: 100%;
			margin-right: 40px;
			margin-bottom: 0;
		}
		.info-data {
			&__number, &__views {
				white-space: nowrap;
			}
		}
	}
}
@media(max-width: 768px) {
	.product {
		padding: 80px 0;
		&__info {
			flex: 0 0 430px;
		}
		&__slider {
			width: calc(60% + 145px);
			margin-right: -145px;
		}
	}
	.partner {
		.slick-list {
			padding-right: 38%;
			margin-right: -20px;
		}
	}
}
@media(max-width: 765px) {
	.bg-line {
		padding: 68px 0;
	}
	.title-box {
		margin-bottom: 20px;
	}
	.title {
		font-size: 28px;
	}
	.subtitle {
		font-size: 16px;
	}
	.slider-wh {
		&:before {
			display: block;
		}
	}
	.slider-arrows {
		&__arrow {
			padding: 20.5px 22px;
		}
		&_big {
			.slider-arrows__arrow {
				padding: 20.5px 22px;
			}
			.slider-arrows__arrow_prev {
				background-color: $lbrown;
				svg {
					fill: $wh;
				}
			}
			.slider-arrows__arrow_next {
				background-color: $wh;
				svg {
					width: 16px;
					height: 16px;
					fill: $bl;
					&:first-child {
						display: none;
					}
					&:nth-child(2) {
						display: block;
					}
				}
			}
		}
	}
	.intro {
		background-position: center left -240px;
		&__item {
			padding: 40px 0 65px;
		}
		.title {
			font-size: 36px;
		}
		.slick-dots {
			padding-bottom: 29px;
			li {
				margin-right: 10px;
			}
			button {
				width: 25px;
			}
		}
	}
	.product {
		padding: 30px  0 50px;/*fix*/
		&__inner {
			flex-direction: column;
			position: relative;
			padding-bottom: 90px;
		}
		&__info {
			flex: 1 1 auto;
			margin: 0 0 30px 0;
			padding: 0;
			position: static;
			&:before {
				display: none;
			}
		}
		&__buttons {
			margin-top: 0;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 1;
		}
		&__slider {
			width: 100%;
			margin-left: 0;
			&:before {
				left: -14px;
			}
		}
		.slick-list {
			overflow: hidden;
			padding-right: 20px;
			margin-right: -20px;
		}
	}
	.partner {
		padding: 36px 0 50px;
		&__inner {
			flex-direction: column;
			position: relative;
			padding-bottom: 90px;
		}
		.slider-arrows {
			position: absolute;
			bottom: 0;
			left: 0;
		}
		&__info {
			flex: 1 1 auto;
			padding-right: 0;
		}
		&__slider {
			margin-top: 30px;
			width: 100%;
		}
	}
}
@media(max-width: 540px) {
	.bg-line {
		padding: 40px 0 50px;
	}
	.product {
		&__buttons {
			.btn {
				margin-right: 10px;
				span {
					padding: 18px;
				}
				&__icon {
					display: none;
				}
			}
		}
	}
	.service {
		position: relative;
		padding-bottom: 158px;
		&__slider {
			margin-top: 30px;
		}
		.slider-arrows {
			position: absolute;
			bottom: 68px;
			left: 20px;
			width: 100%;
		}
	}
	.info-box {
		&__title {
			max-width: 100%;
		}
	}
	.blog {
		&__inner {
			margin-top: 30px;
			margin-left: 0;
			>* {
				margin-left: 0;
				width: 100%;
				&:first-child {
					margin-bottom: 12px;
				}
			}
		}
		&-page {
			margin-bottom: 30px;
		}
	}
}
@media(max-width: 414px) {
	.partner {
		.slick-list {
			padding-right: 12px;
		}
	}
}
@media(max-width: 360px) {
	.title {
		text-transform: none;
	}
}
/*=======/adaptive======*/

