$ff: 'Roboto', sans-serif;
$bl: #2B323C;
$wh: #fff;
$lbrown: #BF9D77;
$op-brown: rgba(191, 157, 119, .3);
$green: #27AE60;
$red: #983031;
$gray: #F9F9F9;
$blue: #203864;

@mixin abs-centerY {
	top: 50%;
	transform: translateY(-50%);
}

@mixin abs-centerX {
	left: 50%;
	transform: translateX(-50%);
}

@mixin abs-centerXY {
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}